<h1>{{request.user}}'s Homepage</h1>
{% if user.is_authenticated %}
<p><a href="logout/">logout</a></p>
<p><a href="tweetform/">tweet</a></p>
<p><a href="{% url 'twitteruser' request.user.id %}">profile</a></p>
{% else %}
<p><a href="login/">login</a></p>
<p><a href="{% url 'signup' %}">signup</a></p>
{% endif %}

{% block tweets %}
    {% include "tweetlist.html" %}
{% endblock %}

{% block users %}
    {% include "userlist.html" %}
{% endblock %}

{% block notifications %}
    {% include "notification.html" %}
{% endblock %}