<h1>User: {{ twitteruser.name }}</h1>
<p>Bio: {{ twitteruser.bio }}</p>
<p>Tweet count: {{ twitteruser_tweet_list.count }}</p>
<p>Number of users you are following: {{ twitteruser.followers.count }}</p>
<h4>{{ twitteruser.name }}'s Tweets:</h4>
<ul>
    {% for tweet in twitteruser_tweet_list %}

        <li>{{ tweet.body }} <br/>- {{tweet.time}} <a href="{% url 'detail' tweet.id %}">detail</a></li>
    {% endfor %}
</ul>
<p><a href="{% url 'follow' twitteruser.user_id %}">follow</a></p>
<p><a href="{% url 'unfollow' twitteruser.user_id %}">unfollow</a></p>
